services:
  next-web:
    build: .
    container_name: stock-web-dev
    ports:
      - "8080:8080"
    environment:
      - NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_API_URL}
      - NODE_ENV=development
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next